<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <clear />
    <add key="nuget.nephila.com" value="https://nuget.nephila.com/nuget" />
  </activePackageSource>
  <packageSources>
    <clear />
    <add key="nuget.nephila.com" value="https://nuget.nephila.com/nuget" />
    <add key="e:\nuget" value="E:\NuGet" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="False" />
  </packageRestore>
</configuration>
