<?xml version="1.0"?>

<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Test:Environment" value="debug" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Insight:LoginPage" value="https://login.nephila.com/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Insight:ChangePassword" value="ChangePassword" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Insight:ResetPassword" value="ResetPassword" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Insight:DefaultLoginName" value="qauser1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Insight:DefaultLoginPassword" value="password" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="Environment" value="Debug" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EnvironmentBaseUrl" value="http://riverisland.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="LogRootDirectory" value="C:\\InsightLogs\\"  xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="Screenshot" value="c:\\SeleniumTestingScreenshot.jpg" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ReportEmailAddress" value="N/A" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SMTPEmailAddress" value="N/A" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SMTPPassword" value="N/A" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SMTPClient" value="N/A" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SMTPServerPort" value="N/A" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

  <sauceLabs>
    <add key="SauceLabTestRunner" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="DesktopTest" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="os" value="Windows 8" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="browserName" value="chrome" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="resolution" value="1280x1024" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="browserVersion" value="42.0" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="JavaScriptEnabled" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!--If Device only then uncomment and use the below-->
    <add key="deviceName" value="Android Emulator" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="deviceOrientation" value="portrait" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="deviceOSVersion" value="5.1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="devicePlatform" value="Linux" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="deviceType" value="Android" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
    <!--Use the below for iPhone as an example set up-->
    <!--<add key="deviceName" value="iPhone Simulator" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="deviceOrientation" value="portrait" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="deviceOSVersion" value="8.2" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="devicePlatform" value="OS X 10.10" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="deviceType" value="iphone" xdt:Transform="Replace" xdt:Locator="Match(key)"  />-->
  </sauceLabs>
  <localBrowser>
    <!--Values can be, chrome, firefox or ie-->
    <add key="localDriver" value="firefox" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </localBrowser>
  <integrationConnections>
    <add key="dbIntegrationTesting" value="Server=NE1-LTP-EIG50;Database=TestDB;Trusted_Connection=True;" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </integrationConnections>
  <TFSBugLogging>
    <add key="CreateBugs" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="collectionUri" value="https://seanrand.visualstudio.com/DefaultCollection/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="tfsCredentialsUsername" value="seanrand57@hotmail.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="tfsCredentialsPassword" value="Deleted This For the purpose of the solution" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="tfsProject" value="Automation Framework" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="tfsIterationPath" value="Automation Framework\Automation triage" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="tfsBugStatesToIgnore" value="Done, Remove" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="tfsWorkItemTypeForBugs" value="Bug" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="tfsVerbosityHighPriority" value="2" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="tfsVerbosityHighSeverity" value="2 - High" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="tfsVerbosityMediumPriority" value="3" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="tfsVerbosityMediumSeverity" value="3 - Medium" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="tfsVerbosityLowPriority" value="4" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="tfsVerbosityLowSeverity" value="4 - Low" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </TFSBugLogging>
  
  <connectionStrings>
    <add connectionString="Data Source=(local);Initial Catalog=Security;User ID=svcSecurity;Password=123access was granted!@#"
      name="Database:Security"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>