<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="sauceLabs" type="System.Configuration.NameValueSectionHandler" />
    <section name="localBrowser" type="System.Configuration.NameValueSectionHandler" />
    <section name="integrationConnections" type="System.Configuration.NameValueSectionHandler" />
    <section name="TFSBugLogging" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <specFlow>
    <trace traceSuccessfulSteps="true" traceTimings="false" minTracedDuration="0:0:0.1" stepDefinitionSkeletonStyle="RegexAttribute" />
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    
    <unitTestProvider name="MsTest" />

    <stepAssemblies>
      <stepAssembly assembly="SpecFlow.Assist.Dynamic" />
    </stepAssemblies>
  <!--<unitTestProvider name="NUnit" />-->
  </specFlow>
  <appSettings>
    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:write-to:RollingFile.restrictedToMinimumLevel" value="Verbose" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="C:\Apps-Logs\InsightBDDTests\tests-{Date}.log" />
    <add key="serilog:using" value="Serilog.Sinks.Seq" />
    <add key="serilog:write-to:Seq.restrictedToMinimumLevel" value="Verbose" />
    <add key="serilog:write-to:Seq.serverUrl" value="http://localhost:5341" />
    <add key="serilog:write-to:Seq.bufferBaseFilename" value="C:\Apps-Logs\InsightBDDTests\tests.seq.buffered.log" />
    
    <add key="Test:Environment" value="" />
    <add key="Insight:LoginPage" value="" />
    <add key="Insight:ResetPassword" value="" />
    <add key="Insight:DefaultLoginName" value="" />
    <add key="Insight:DefaultLoginPassword" value="" />
    <add key="Insight:ChangePassword" value="" />
    <add key="Insight:WebDriverType" value="FirefoxDriver" />
    <add key="Insight:WebDefaultTimeOutSeconds" value="60" />
    <add key="Insight:DriverServerPath" value="C:\TestTools\" />
    <add key="Grid:SeleniumGrid" value="false" />
    <add key="Grid:SeleniumGridURL" value="http://dev-sgridtest01:4444/wd/hub" />
    <add key="Grid:SeleniumGridBrowser" value="firefox" />
    <add key="Grid:SeleniumGridPlatform" value="WINDOWS" />
    
    
    <add key="Environment" value="" />
    <add key="EnvironmentBaseUrl" value="" />
    <add key="LogRootDirectory" value="" />
    <add key="DefaultUsername" value="" />
    <add key="DefaultPassword" value="" />
    <add key="InvalidUsername" value="" />
    <add key="InvalidPassword" value="" />
    <add key="DefaultFirstName" value="" />
    <add key="Screenshot" value="" />
    <add key="WebServiceGetExpectedResults" value="" />
    <add key="WebServiceAPICall" value="" />
    <add key="WebServiceKey" value="" />
    <add key="ConnectionString" value="" />
    <add key="ReportEmailAddress" value="" />
    <add key="SMTPEmailAddress" value="" />
    <add key="SMTPPassword" value="" />
    <add key="SMTPClient" value="" />
    <add key="SMTPServerPort" value="" />

  </appSettings>

  <sauceLabs>
    <add key="SauceLabTestRunner" value="" />
    <add key="DesktopTest" value="" />
    <add key="os" value="" />
    <add key="browserName" value="" />
    <add key="resolution" value="" />
    <add key="browserVersion" value="" />
    <add key="JavaScriptEnabled" value="" />
    <add key="deviceName" value="" />
    <add key="deviceOrientation" value="" />
    <add key="deviceOSVersion" value="" />
    <add key="devicePlatform" value="" />
    <add key="deviceType" value="" />
  </sauceLabs>
  <localBrowser>
    <add key="localDriver" value="" />
  </localBrowser>
  <TFSBugLogging>
    <add key="CreateBugs" value="" />
    <add key="collectionUri" value="" />
    <add key="tfsCredentialsUsername" value="" />
    <add key="tfsCredentialsPassword" value="" />
    <add key="tfsProject" value="" />
    <add key="tfsIterationPath" value="" />
    <add key="tfsBugStatesToIgnore" value="" />
    <add key="tfsWorkItemTypeForBugs" value="" />
    <add key="tfsVerbosityHighPriority" value="" />
    <add key="tfsVerbosityHighSeverity" value="" />
    <add key="tfsVerbosityMediumPriority" value="" />
    <add key="tfsVerbosityMediumSeverity" value="" />
    <add key="tfsVerbosityLowPriority" value="" />
    <add key="tfsVerbosityLowSeverity" value="" />
  </TFSBugLogging>

  <integrationConnections>
    <add key="dbIntegrationTesting" value="" />
  </integrationConnections>

  <connectionStrings>
    <add connectionString="" name="Database:Security" />
  </connectionStrings>

</configuration>