<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nephila.Toolkit.Core" version="1.0.26" targetFramework="net451" />
  <package id="Nephila.Toolkit.Serilog" version="1.0.21" targetFramework="net451" />
  <package id="NUnitTestAdapter" version="2.0.0" targetFramework="net451" />
  <package id="Selenium.Support" version="2.48.2" targetFramework="net451" />
  <package id="Selenium.WebDriver" version="2.48.2" targetFramework="net451" />
  <package id="Serilog" version="1.5.7" targetFramework="net451" />
  <package id="Serilog.Sinks.Seq" version="1.5.15" targetFramework="net451" />
</packages>