<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImpromptuInterface" version="5.6.7" targetFramework="net451" />
  <package id="Nephila.Toolkit.Core" version="1.0.26" targetFramework="net451" />
  <package id="Nephila.Toolkit.Serilog" version="1.0.21" targetFramework="net451" />
  <package id="NUnit" version="2.6.4" targetFramework="net451" />
  <package id="Selenium.Support" version="2.48.2" targetFramework="net451" />
  <package id="Selenium.WebDriver" version="2.48.2" targetFramework="net451" />
  <package id="Serilog" version="1.5.7" targetFramework="net451" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net451" />
  <package id="SpecFlow.Assist.Dynamic" version="1.0.2" targetFramework="net451" />
</packages>